[Desktop Entry]
Name=Files
Name[am]=ፋይሎች
Name[bg]=Файлове
Name[bg_BG]=Файлове
Name[ca]=Fitxers
Name[ca@valencia]=Fitxers
Name[ca_ES@valencia]=Fitxers
Name[cs]=Soubory
Name[cs_CZ]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[de_CH]=Dateien
Name[de_DE]=Dateien
Name[es]=Archivos
Name[es_419]=Archivos
Name[es_AR]=Archivos
Name[es_CL]=Archivos
Name[es_CO]=Archivos
Name[es_CR]=Archivos
Name[es_DO]=Archivos
Name[es_EC]=Archivos
Name[es_ES]=Archivos
Name[es_MX]=Archivos
Name[es_NI]=Archivos
Name[es_PA]=Archivos
Name[es_PE]=Archivos
Name[es_PR]=Archivos
Name[es_SV]=Archivos
Name[es_US]=Archivos
Name[es_UY]=Archivos
Name[es_VE]=Archivos
Name[eu]=Fitxategiak
Name[fi]=Tiedostot
Name[fi_FI]=Tiedostot
Name[fr]=Fichiers
Name[fr_CA]=Fichiers
Name[fr_FR]=Fichiers
Name[hr]=Nemo
Name[hu]=Fájlok
Name[hu_HU]=Fájlok
Name[is]=Skrár
Name[ko]=파일
Name[ko_KR]=파일
Name[lt]=Failai
Name[lt_LT]=Failai
Name[nl]=Bestanden
Name[nl_NL]=Bestanden
Name[pl]=Pliki
Name[pl_PL]=Pliki
Name[pt]=Ficheiros
Name[pt_BR]=Arquivos
Name[pt_PT]=Ficheiros
Name[ro]=Fișiere
Name[ro_RO]=Fișiere
Name[ru]=Файлы
Name[sk]=Súbory
Name[sk_SK]=Súbory
Name[sr]=Fajlovi
Name[sr@Latn]=Fajlovi
Name[sr@ije]=Fajlovi
Name[sr@ijekavianlatin]=Fajlovi
Name[sr@latin]=Fajlovi
Name[sr_RS]=Fajlovi
Name[sr_RS@latin]=Fajlovi
Name[sv]=Filer
Name[tr]=Dosyalar
Name[uk]=Файли
Name[uk_UA]=Файли
Name[zh_CN]=文件
Name[zh_HK]=檔案
Exec=dolphin %u
Icon=system-file-manager
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
Terminal=false
NoDisplay=true
Hidden=true
MimeType=inode/directory;inode/directory;x-scheme-handler/timeline;x-scheme-handler/search;
InitialPreference=10
X-DBUS-ServiceName=org.kde.dolphin
